* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
}

body {
  width: 100%;
  height: 100vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: 0.5s;
}

.content {
  max-width: 500px;
  border: 2px solid var(--text-color);
  padding: 1em;
  border-radius: 25px;
  margin-bottom: 2em;
  transition: 0.5s;
}

.content h1 {
  color: var(--text-color);
  transition: 0.5s;
}
.content p {
  color: var(--text-color);
  transition: 0.5s;
}

button {
  border: none;
  padding: 1em 2em;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 25px;
  color: var(--text-color);
  transition: 0.5s;
}
